<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rukawa.generate.sql.mapper.RouteMapper">

    <resultMap id="baseResultMap" type="com.rukawa.generate.sql.domain.Route">
        <result column="route_id" jdbcType="INTEGER" property="routeId"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="key" jdbcType="VARCHAR" property="key"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="component" jdbcType="VARCHAR" property="component"/>
        <result column="redirect" jdbcType="VARCHAR" property="redirect"/>
        <result column="route_parent" jdbcType="INTEGER" property="routeParent"/>
        <result column="role_id" jdbcType="INTEGER" property="roleId"/>
    </resultMap>

    <sql id="baseSql">
        route_id
        , path, title, `key`, icon, name, component, redirect, route_parent, role_id
    </sql>

    <select id="selectRouteByPrimary" resultMap="baseResultMap">
        SELECT
        <include refid="baseSql"/>
        FROM tb_route
        WHERE route_id = #{routeId}
    </select>

    <select id="selectRouteListByRole" resultMap="baseResultMap">
        SELECT
        <include refid="baseSql"/>
        FROM tb_route
        WHERE role_id &lt;= #{roleId}
    </select>

    <insert id="insertRouteSelective">
        INSERT INTO
        tb_route
        <trim prefix="(" suffix=")" prefixOverrides="," suffixOverrides=",">
            <if test="routeId != null">route_id</if>
            <if test="path != null">, path</if>
            <if test="title != null">, title</if>
            <if test="key != null">, key</if>
            <if test="icon != null">, icon</if>
            <if test="name != null">, name</if>
            <if test="component != null">, component</if>
            <if test="redirect != null">, redirect</if>
            <if test="routeParent != null">, route_parent</if>
            <if test="roleId != null">, role_id</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" prefixOverrides="," suffixOverrides=",">
            <if test="routeId != null">#{routeId}</if>
            <if test="path != null">, #{path}</if>
            <if test="title != null">, #{title}</if>
            <if test="key != null">, #{key}</if>
            <if test="icon != null">, #{icon}</if>
            <if test="name != null">, #{name}</if>
            <if test="component != null">, #{component}</if>
            <if test="redirect != null">, #{redirect}</if>
            <if test="routeParent != null">, #{routeParent}</if>
            <if test="roleId != null">, #{roleId}</if>
        </trim>
    </insert>

    <update id="updateRouteByPrimary">
        UPDATE tb_route
        <set>
            <if test="path != null">, path = #{path}</if>
            <if test="title != null">, title = #{title}</if>
            <if test="key != null">, key = #{key}</if>
            <if test="icon != null">, icon = #{icon}</if>
            <if test="name != null">, name = #{name}</if>
            <if test="component != null">, component = #{component}</if>
            <if test="redirect != null">, redirect = #{redirect}</if>
            <if test="routeParent != null">, route_parent = #{routeParent}</if>
            <if test="roleId != null">, role_id = #{roleId}</if>
        </set>
        WHERE route_id = #{routeId}
    </update>

</mapper>