<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rukawa.generate.sql.mapper.SkillMapper">

    <resultMap id="baseResultMap" type="com.rukawa.generate.sql.domain.Skill">
        <result column="skill_id" jdbcType="INTEGER" property="skillId"/>
        <result column="skill_topic" jdbcType="VARCHAR" property="skillTopic"/>
        <result column="simple_skill_content" jdbcType="VARCHAR" property="simpleSkillContent"/>
        <result column="skill_content" jdbcType="VARCHAR" property="skillContent"/>
        <result column="skill_type" jdbcType="VARCHAR" property="skillType"/>
    </resultMap>

    <sql id="baseSql">
        skill_id
        , skill_topic, skill_content, simple_skill_content, skill_type
    </sql>

    <select id="selectSkillByPrimary" resultMap="baseResultMap">
        SELECT
        <include refid="baseSql"/>
        FROM tb_skill
        WHERE skill_id = #{skillId}
    </select>

    <select id="selectSkills" resultMap="baseResultMap">
        SELECT
        <include refid="baseSql"/>
        FROM tb_skill
        <where>
            <if test="skillId != null">skill_id = #{skillId}</if>
            <if test="skillTopic != null">AND skill_topic = #{skillTopic}</if>
            <if test="skillContent != null">AND skill_content = #{skillContent}</if>
            <if test="simpleSkillContent != null">AND simple_skill_content = #{simpleSkillContent}</if>
            <if test="skillType != null">AND skill_type = #{skillType}</if>
        </where>
    </select>

    <delete id="deleteSkillByPrimary">
        DELETE
        FROM tb_skill
        WHERE skill_id = #{skillId}
    </delete>

    <insert id="insertSkill">
        INSERT INTO
        tb_skill
        <trim prefix="(" suffix=")" prefixOverrides="," suffixOverrides=",">
            <if test="skillId != null">skill_id</if>
            <if test="skillTopic != null">, skill_topic</if>
            <if test="skillContent != null">, skill_content</if>
            <if test="simpleSkillContent != null">, simple_skill_content</if>
            <if test="skillType != null">, skill_type</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" prefixOverrides="," suffixOverrides=",">
            <if test="skillId != null">#{skillId}</if>
            <if test="skillTopic != null">, #{skillTopic}</if>
            <if test="skillContent != null">, #{skillContent}</if>
            <if test="simpleSkillContent != null">, #{simpleSkillContent}</if>
            <if test="skillType != null">, #{skillType}</if>
        </trim>
    </insert>

    <update id="updateSkillByPrimaryKey">
        UPDATE tb_skill
        <set>
            <if test="skillTopic != null">skill_topic = #{skillTopic},</if>
            <if test="skillContent != null">skill_content = #{skillContent},</if>
            <if test="simpleSkillContent != null">simple_skill_content = #{simpleSkillContent},</if>
            <if test="skillType != null">skill_type = #{skillType},</if>
        </set>
        WHERE skill_id = #{skillId}
    </update>

</mapper>